@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as *;

:root {
    --brand-1: #ff5029;
    --brand-2: #FE6D4E;
    --clr-dark-1: #333333;
    --clr-dark-2: #676767;
    --clr-light: #fcfcfc;
}

html {
    scroll-padding-top: 2rem;
}

body {
    position: relative;
    min-height: 100svh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    background-color: var(--gray-12);
}

// Tyography
ul,
ol {
    list-style: none;
    padding: 0;
}

.wrapper {
    width: min(100% - 2rem, var(--wrapper-max-width, 1200px));
    margin-inline: auto;

    @include media-query(lg) {
        --wrapper-max-width: 1200px;
    }
}
