@use "../abstracts/mixins" as *;

.brands {
    padding-block: var(--size-fluid-5);
    background-color: var(--gray-1);

    &__top {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-block-end: 3rem;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    &__grid {
        display: grid;
        gap: 2rem 4rem;
        grid-template-areas:
            'reel'
            'content'
            'display';

        @include media-query(lg) {
            margin-block-start: var(--size-9);
            grid-template-areas:
                'reel reel'
                'content display'
                'content display';

            grid-template-columns: 1fr 1fr;
        }
    }

    &__content {
        grid-area: content;
        position: relative;
        isolation: isolate;
        text-align: left;

        border-radius: 1rem;
        padding: 2rem;

        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        overflow: hidden;

        &:not(:first-child) {
            opacity: 0;
            pointer-events: none;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image:
                url('../images/brands/cusco-logo.png');
            background-position: center;
            background-repeat: repeat;
            background-size: 500px;
            rotate: -9deg;

            filter: blur(4px) opacity(.2);
        }

        h3 {
            font-weight: 700;
            font-size: clamp(1.3rem, 5vw, 1.7rem);
        }

        .badges {
            display: grid;
            grid-template-columns: repeat(3, max-content);
            gap: 1rem;

            border-width: 1px 0;
            border-color: var(--gray-4);
            border-style: solid;

            .badge {
                font-size: 0.875rem;
                line-height: 1.4;
                color: var(--gray-9);
                padding: 0.6rem;
                border-radius: 1rem;

                span {
                    display: block;
                    font-weight: 700;
                    color: var(--gray-12);
                }
            }
        }

        p {
            font-size: clamp(1rem, 2vw, 1.125rem);
            line-height: 1.4;
            color: var(--gray-9);

        }

        .btn {
            margin-block-start: 1rem;
            align-self: start;
        }
    }

    &__reel {
        grid-area: reel;
        .swiper-wrapper {
            justify-content: center;
            align-items: center;
        }

        .reel-item {
            text-align: center;
            padding-inline: 10px;
            max-width: 300px;

            // &.is-upcoming {
            //     position: relative;

            //     button {
            //         pointer-events: none;
            //     }

            //     &::before,
            //     &::after {
            //         position: absolute;
            //         border-radius: 5px;

            //     }

            //     &::before {
            //         content: '';
            //         position: absolute;
            //         z-index: -10;
            //         top: 1.6em;
            //         right: -0.7em;
            //         height: 28px;
            //         width: 28px;
            //         background-color: var(--gray-4);
            //         transform: rotate(45deg);
            //     }

            //     &::after {
            //         content: 'Coming Soon';
            //         position: absolute;
            //         top: 0.3em;
            //         right: -1em;
            //         padding: 0.7em;
            //         line-height: 1em;
            //         width: 9em;
            //         background-color: var(--gray-2);
            //         color: var(--gray-12);
            //         box-shadow: var(--shadow-1)
            //     }

            //     button {
            //         filter: blur(2px);
            //         opacity: 0.7;

            //     }
            // }


            &.swiper-slide {
                button {
                    background-color: transparent;
                    --_highlight: none;
                    opacity: 0.8;

                    img {
                        display: block;
                        object-fit: contain;
                        scale: 0.7;
                        transition: scale 0.4s var(--ease-bounce-2);
                    }
                }

                &-thumb-active {
                    button {
                        border-color: var(--brand-1);
                        opacity: 1;

                        img {
                            scale: 1.1;
                        }
                    }
                }

            }
        }

    }

    &__display {
        grid-area: display;

        .display-item {
            text-align: center;


            &.swiper-slide-active {
                opacity: 1;
                animation: var(--animation-slide-in-up);
                animation-duration: 1s;

            }


            img {
                display: block;
                object-fit: contain;
                object-position: bottom;
            }
        }
    }

}