@use "../abstracts/mixins" as *;

.footer {
    background-color: var(--gray-8);
    color: var(--gray-3);
    padding-block: var(--size-fluid-6);
    a {
        color: var(--gray-4);
        text-decoration: underline;
        text-underline-offset: 0.35rem;
        text-decoration-thickness: 1px;
        text-decoration-color: transparent;
        white-space: nowrap;

        transition: color 0.2s ease-in-out, text-decoration-color .2s ease-in-out, text-underline-offset 0.2s ease-in-out;

        &:hover {
            color: var(--brand-1);
            text-decoration-color: currentColor;

        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__top {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: clamp(3rem, 5vw, 6rem);
        padding-block-end: 1.3rem;

        @include media-query(lg) {
            flex-direction: row;
            align-items: flex-end;
        }

        .brand-info {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            justify-content: center;
            align-items: center;
            text-align: center;

            @include media-query(lg) {
                align-items: flex-start;
                text-align: left;
            }

            &>a {
                width: min(170px, 100%);
            }

            p {
                display: none;
                small {
                    color: var(--gray-3);
                }
            }
        }

        .footer-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: clamp(0.8rem, 5vw, 1rem);
        }

    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        border-top: 1px solid hsl(var(--gray-3-hsl) / 40%);

        padding-block-start: 3rem;

        @include media-query(lg) {
            flex-direction: row;
            justify-content: space-between;
        }


        .legal-links {
            display: flex;
            gap: 1rem;
        }

        .copyright-text {
            color: var(--gray-3);
            small {
                color: var(--gray-3);
            }
        }
    }
}